import(survival)
import(foreach)
useDynLib(icenReg)
export(ic_ph)
export(impute_ic_ph)
export(simICPH_beta)
S3method(summary, ic_coxph)
S3method(vcov, ic_coxph)
S3method(plot, ic_coxph)
export(getSCurves)
